.blog-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
    width: 100%;
}
.blog-entry {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #303339;
    /*background-color: #afeeee;*/
    background-color: #dddddd;
    /*background-image: linear-gradient(to bottom, #00bbfb, #8feeee);*/
    width: 300px;
    height: 300px;
    padding: 20px;
    border-radius: 10px;
    margin: 15px;
}
.blog-entry img {
    height: 200px;
    width: 100%;
    object-fit: contain;
}
.BlogArticleDisplay {
    width: 80%;
    max-width: 800px;
}