html {
  scroll-padding-top: 60px;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  margin: 0;
  padding: 0;
  text-align: center;
  align-items: center;
}

/* .App {
  position: absolute;
} */

h1 {
  height: 600px;           /* object height */
  color: white;          /* text color */
  display: flex;           /* centers the content vertically */
  justify-content: center; /* centers the content horizontally */
  background-size: cover;  /* stretches image to fill area */
  background-attachment: fixed;
}

h2 {
  text-align: center;
}

p {
  text-align: justify;
}

.content {
  padding-top: 30px;
  margin: auto;
  padding-bottom: 50px;
}
/*----------------------PROJECTS SECTION------------------------*/

.projects-container {
  text-align: center;
  display: inline;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.project {
  display: inline-flex;
  vertical-align: middle;
  flex-direction: column;
  /* justify-content: center;
  align-items: center;
  flex-direction: column; */
}

.project img {
  position: relative;
  top: 0;
  transition: top 0.3s ease-in-out;
  width: 200px;
  height: 200px;
  padding: 20px
}

.project img:hover {
  top: -10px
}

/* margin: auto centers the content, and max-width sets the max width. */
@media all and (1500px < width <= 1920px){

  h1 {
    height: 800px;           /* object height */
  }

  .content {
    max-width: 1200px;
  }

  iframe {
    display: flex;
    margin: 0 auto;
    width: 80%;
    height: 1130px;
  }
} 

@media all and (800px <= width <= 1500px){
  h1 {
    height: 600px;           /* object height */
  }
  .content {
    max-width: 80%;
  }

  iframe {
    display: flex;
    margin: 0 auto;
    width: 100%;
    height: 1130px;
  }
}

@media all and (width < 800px) {
  h1 {
    height: 400px;
  }
  .content {
    max-width: 80%;
  }

  iframe {
    display: flex;
    margin: 0 auto;
    width: 100%;
    height: 700px;
  }
}

@media all and (width <= 504px) {
  h1 {
    height: 300px;
    background-attachment: scroll;
  }

  iframe {
    display: flex;
    margin: 0 auto;
    width: 100%;
    height: 500px;
  }
}

/* Provides padding on the sides of the page. This is good for mobile display. */


.nav {
  list-style: none;
  margin:0;
  padding:0;
  text-align:center;
  background-color: #afeeee;
}

.navbar {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  width: 100%;
  top: 0;
}

.nav li {
  display: inline;
}

.nav a {
  display: inline-block;
  color: #424957;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav a:hover {
  background-color: #c6e2ff;
} 

/* iframe {
  display: flex;
  margin: 0 auto;
  width: 100%;
  height: 1130px;
} */

/* Style inputs with type="text", select elements and textareas */
input[type=text], input[type=email], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

textarea {
  height: 200px;
  text-align: left
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #afeeee;
  color: #424957;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #c6e2ff;
}

/* Add a background color and some padding around the form */
.ContactForm {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}





